* {
  color: red;
  /* what awful person writes css like this */
  /* oh wait. */
}

* {
  color: inherit !important;
}

.children-nodes li {
  list-style: none;
}

.node-component {
  display: inline-block;
}

body .node-component table {
  width: auto;
}

.node-component table td.name {
  font-size: 80%;
  color: #777 !important;
}

.node-component hr {
  margin-top: 0;
}

.children-visible {

}

.node-content {
  margin-left: 20px;
  margin-right: 20px;
}

.expand-button {
  float: left;
  user-select: none;
}

.hidden {
  display: none;
}

